@mixin animBtnGray {
  &:hover {
    background-color: $primary-dark-gray;
    color: $btn-text-white;
    letter-spacing: 1px;
  }
}

@mixin animBtnGreen {
  &:hover {
    background-color: $primary-green;
    letter-spacing: 1px;
  }
}

@mixin sectionSpacing {
  margin-top: -20rem;
  padding: 26rem 7rem 20rem 7rem;
  clip-path: $clip-path2;

  @media screen and (max-width: 700px) {
    clip-path: $clip-path3;
  }
  @media screen and (max-width: 550px) {
    clip-path: $clip-path4;
  }
}

@mixin green-btn {
  &__cta {
    font-size: $fs-normal;
    display: flex;
    text-align: center;
  }

  &__cta-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $btn-text-white;
    background-color: $button-green;
    padding: 0.6rem 2.5rem;
    border-radius: 0.5rem;
    transition: 0.5s $ease-back;

    @include animBtnGreen;
  }
}

@mixin mediacheck {
  @media (max-width: 1000px) {
    margin-top: -23rem;
  }

  @media (max-width: 1200px) and (min-width: 800px) {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }

  @media (max-width: 500px) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
