$nav-gray: #4a4e49;
$btn-text-white: #fcfdfc;
$button-green: #85b870;
$nav-background: rgba(252, 253, 252, 0.7);
$body-background-1: #eff5ed;
$body-background-2: #eff5ed;
$primary-green: #609c47;
$primary-dark-gray: #1d221b;
$button-gray: #e1eddb;
$footer-text-gray: #a5a7a4;

// fontsizes
$fs-normal: 1.1rem;

// clip path
$clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
$clip-path2: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
$clip-path3: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);

$section-padding: 26rem 7rem 18rem 7rem;

// transition
$ease-back: cubic-bezier(0.41, 1.8, 0.55, 1);
