@media screen and (max-width: 1000px) and (min-width: 700px) {
  // adjusting size of overall page at 1000px mark
  html {
    font-size: calc(52.2% + 0.390625vw);
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 900px) {
  // adjusting ThreeBoxes component
  .three-boxes {
    &__row {
      flex-direction: column;

      & > *:not(:last-child) {
        margin-bottom: 2rem;
        margin-right: 0rem;
      }

      & > * {
        width: 100%;
      }

      & > :nth-child(2) {
        width: 100%;
      }
    }
  }
}

// STACKING MOST OF THE ROWS
@media screen and (max-width: 800px) {
  // implementing hamburger menu

  .navigation {
    padding: 1rem 3rem;
    background-color: $nav-background;
    border-bottom: 1px solid #a4ca94;
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);
    -moz-backdrop-filter: blur(28px);
    height: 6rem;
  }

  .overlay {
    z-index: 23;
  }

  .nav {
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    pointer-events: none;
    transition: all 0.8s ease;
    padding-left: 10rem;
    background-color: #fff;

    &__dropDown {
      z-index: 24;
      height: 0px;

      &.active {
        height: 350px;
        padding: 2rem;
      }
    }

    // putting in new icon
    &__icon--mobile {
      display: inline-block;
      position: relative;
      z-index: 30;
      height: 3.5rem;
    }

    // removing old icon
    &__icon {
      display: none;
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;

      // spacing list items
      & > *:not(:last-child) {
        margin-bottom: 3.7rem;
        margin-right: 0rem;
      }
    }

    &__item {
      overflow: hidden;
    }

    &__link,
    &__item img {
      font-size: $fs-normal;
      transform: translateY(3rem);
      transition: all 0.7s ease !important;
    }

    &__cta {
      margin-top: 4rem;
      transform: translateX(-15rem);
      transition: 0.8s ease;
      opacity: 0;
      pointer-events: none;
    }

    &__cta-link {
      font-size: $fs-normal;
      width: 20rem;
    }

    &__button {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      z-index: 22;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: transparent;
      height: 5rem;
      width: 5rem;
    }

    // FUNCTIONALITY OF HAMBURGER MENU

    &__checkbox:checked ~ .nav {
      opacity: 1;
      pointer-events: all;
      width: 100%;
    }

    // FUNCTIONALITY OF ANIMATION OF NAV LINKS AND BUTTON
    &__checkbox:checked ~ .nav &__link,
    &__checkbox:checked ~ .nav &__item img {
      transform: translateY(0rem);
      transition-delay: 0.5s !important;
    }

    &__checkbox:checked ~ .nav &__cta {
      transform: translateX(0rem);
      transition-delay: 1.1s !important;
      opacity: 1;
      pointer-events: all;
    }

    // ICON (three dashes of the hamburger menu)
    &__burger {
      position: relative;

      &,
      &::after,
      &::before {
        width: 3rem;
        height: 2px;
        background-color: $nav-gray;
        display: inline-block;
        transition: 0.2s ease-out;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
      }

      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }

    &__button:hover &__burger::before {
      top: -1rem;
    }

    &__button:hover &__burger::after {
      top: 1rem;
    }

    // Functionality changing the hamburger to an X
    &__checkbox:checked ~ &__button &__burger {
      background-color: transparent;

      &::before {
        transform: rotate(135deg);
        top: 0;
      }

      &::after {
        transform: rotate(-135deg);
        top: 0;
      }
    }
  }

  // STACKING HOMEBODY SECTIONS

  .section {
    flex-direction: column;

    &__normal {
      & > *:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 1.7rem;
      }
    }

    &__reverse {
      & > *:not(:first-child) {
        margin-right: 0rem;
      }

      & > *:not(:last-child) {
        margin-bottom: 1.7rem;
      }
    }

    &__typography {
      display: flex;
      flex-direction: column;

      & > *:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &__title {
      text-align: center;
    }

    &__subtitle {
      text-align: center;
    }

    // stylilng main paragraph
    &__para {
      text-align: center;
    }

    &__item-paraContainer {
      display: flex;
      flex-direction: column;
      align-self: center;
    }

    &__btnContainer {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__btn {
      width: 80%;

      &:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 1rem;
      }
    }
  }

  // STACKING APP DOWNLOAD (1)
  .appInstall {
    flex-direction: column-reverse;

    & > *:not(:last-child) {
      margin-right: 0rem;
    }

    &__imgContainer {
      margin-bottom: 4rem;
      margin-top: 2rem;
    }

    &__title {
      text-align: center;
    }
    &__para {
      text-align: center;
    }
  }

  // STACKING SERVICES
  .servicesMain {
    flex-direction: column;

    &__normal {
      & > *:not(:last-child) {
        margin-right: 0rem;
      }
    }

    &__reverse {
      & > *:not(:first-child) {
        margin-right: 0rem;
      }
    }

    &__typography {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &__cta {
      align-self: center;
    }

    &__cta-link {
      width: 100%;
    }
  }

  .service-bottom {
    &__row {
      flex-direction: column-reverse;
    }
  }

  .bottom-helper {
    text-align: center;

    &__container {
      margin-right: 0rem !important;

      & > *:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  // ADJUSTING FOOTER
  .footer {
    flex-direction: column;

    // spacing 2 divs in footer
    & > *:not(:last-child) {
      margin-bottom: 4rem;
    }

    &__left {
      text-align: center;
    }

    &__right {
      flex-direction: column;
    }

    &__list {
      align-items: center;

      // removing spacing in the three lists
      &:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 3rem;
      }

      // respacing the footer items
      & > *:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &__link {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 769px) {
  // removing button hover effect
}

@media screen and (max-width: 700px) {
  // STACKING BUTTONS IN APP DOWNLOAD (1)
  // STACKING APP DOWNLOAD (1)
  .appInstall {
    &__btnContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // spacing buttons
      & > *:not(:last-child) {
        margin-bottom: 2rem;
        margin-right: 0rem;
      }
    }

    &__btn {
      width: 80%;
    }
  }

  // STACKING APP DOWNLOAD (2)
  .download2 {
    flex-direction: column;
    text-align: center;

    & > *:not(:last-child) {
      margin-right: 0rem;
      margin-bottom: 1rem;
    }

    &__typography {
      justify-content: center;
      align-items: center;
    }

    &__input-group {
      align-self: flex-start;
    }
    &__cta {
      align-self: flex-start;
    }
  }

  // STACKING THREE BOXES
  .three-boxes {
    &__row--2 {
      flex-direction: column;
      margin-bottom: 3rem !important;

      & > * {
        width: 100%;
      }

      & > *:not(:last-child) {
        margin-bottom: 3rem;
        margin-right: 0rem;
      }

      //////////////////
      /// styling three boxes for shop
      &--shop {
        margin-bottom: 9rem !important;

        & > *:not(:last-child) {
          margin-bottom: 9rem;
        }
      }

      ///////////////////
    }
  }

  .box-helper {
    padding: 1.5rem;

    & > *:not(:last-child) {
      margin-bottom: 0.8rem;
    }

    &__title {
      font-weight: 600;
      font-size: 1.4rem !important;
    }

    &__para {
      font-size: $fs-normal !important;
    }
  }

  // ADJUSTING FOOTER
  .footer {
    flex-direction: column;

    // spacing 2 divs in footer
    & > *:not(:last-child) {
      margin-bottom: 4rem;
    }

    &__left {
      text-align: center;
    }

    &__right {
      flex-direction: column;
    }

    &__list {
      align-items: center;

      // removing spacing in the three lists
      &:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 3rem;
      }

      // respacing the footer items
      & > *:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &__link {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .nav {
    padding-left: 4rem;

    &__cta-link {
      width: 15rem;
    }
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: calc(65.2% + 0.390625vw);
  }
}
