// styling main part of services
.services-body {
  background-color: $button-gray;
  clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);

  @media screen and (max-width: 800px) {
    clip-path: polygon(100% 0, 100% 97%, 50% 100%, 0 97%, 0 0);
  }
  @media screen and (max-width: 500px) {
    clip-path: polygon(100% 0, 100% 98%, 50% 100%, 0 98%, 0 0);
  }
  padding-top: 10rem;
  padding-bottom: 25rem;
  position: relative;
  width: 100%;
}

// styling sections of main body
.servicesMain {
  position: relative;

  padding: 5rem 7rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mediacheck;
  @media (max-width: 1000px) {
    margin-top: 0;
  }

  &__normal {
    display: flex;
    justify-content: center;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 6rem;
    }
  }

  &__reverse {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row-reverse;

    & > *:not(:first-child) {
      margin-right: 6rem;
    }
  }

  &__imgContainer {
    max-width: 25rem;

    img {
      width: 100%;
    }
  }

  // styling div housing left side of section
  &__typography {
    max-width: 35rem;

    & > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: $fs-medium;
    color: $primary-dark-gray;
    font-family: "Raleway";
  }

  // stylilng main paragraph
  &__para {
    line-height: 24px;
    font-size: $fs-normal;
    font-weight: 400;
    color: $nav-gray;
  }

  // styling button

  @include green-btn;

  &__cta-link {
    width: 40%;
  }
}
