// styling main part of services
.services-body {
  background-color: $button-gray;
  clip-path: $clip-path2;
  padding-top: 10rem;
  padding-bottom: 25rem;
  position: relative;
  width: 100%;
}

// styling sections of main body
.servicesMain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 80%;
  padding: 4rem;
  margin-inline: auto;
  // clip-path: $clip-path;

  & > *:not(:last-child) {
    // margin-right: 30%;
  }

  &__normal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 1rem 8rem;
  }

  &__reverse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 1rem 8rem;
    flex-direction: row-reverse;
  }

  &__imgContainer {
    max-width: 25rem;

    img {
      width: 100%;
    }
  }

  // styling div housing left side of section
  &__typography {
    max-width: 35rem;

    & > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 2rem;
    color: $primary-dark-gray;
    font-family: "Raleway";
  }

  // stylilng main paragraph
  &__para {
    line-height: 24px;
    font-size: $fs-normal;
    font-weight: 400;
    color: $nav-gray;
  }

  // styling button

  @include green-btn;

  &__cta-link {
    width: 40%;
  }
}
