.overlay {
  background-color: transparent;
  z-index: 15;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.overlay.active {
  display: block;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 25;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: $nav-background;
  border-bottom: 1px solid #a4ca94;
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  -moz-backdrop-filter: blur(28px);
  position: relative;
  width: 100%;
  z-index: 25;

  &__icon--mobile {
    display: none;
  }

  &__checkbox {
    display: none;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // width: 100%;

    & > *:not(:last-child) {
      margin-right: 2rem;

      @media screen and (max-width: 850px) {
        margin-right: 1.5rem;
      }
    }
  }

  &__item {
    font-size: 1.3rem;
    color: $nav-gray;
    cursor: pointer;
    display: flex;

    align-items: center;

    // styling of arrow icon
    img {
      transition: 0.3s ease;
      margin-left: 0.5rem;
    }

    img.active {
      transform: rotate(180deg);
    }
  }

  &__cta {
    font-size: $fs-normal;
    display: flex;
    text-align: center;
  }

  &__cta-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $btn-text-white;
    background-color: $button-green;
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    transition: 0.5s ease;
    @include animBtnGreen;
  }

  &__link {
    text-decoration: none;
    color: $nav-gray;
    transition: 0.2s ease;
    position: relative;
  }

  // hover animation
  &__link::after {
    content: "";
    display: block;
    width: 0%;
    position: absolute;
    right: 50%;
    bottom: -4px;
    transition: 0.3s $ease-back;
    background-color: $nav-gray;
    height: 2px;
  }

  &__item:hover &__link::after {
    width: 100%;
    right: 0;
  }

  // styling of drop downs of nav items
  &__dropDown {
    position: fixed;
    background-color: black;
    color: white;
    width: 100%;
    height: 0rem;
    z-index: 18;
    top: 5.9rem;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s $ease-back;
  }

  &__dropDown.active {
    opacity: 1;
    pointer-events: all;
    height: 20rem;
  }

  // // drop down animation
  // &__item:hover ~ &__dropDown {
  //   height: 20rem;
  //   bottom: 0;
  // }
}
