.navigation {
  position: sticky;
  top: 0;
  z-index: 200;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: $nav-background;
  border-bottom: 1px solid #a4ca94;
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  -moz-backdrop-filter: blur(28px);
  width: 100%;

  &__icon--mobile {
    display: none;
  }

  &__checkbox {
    display: none;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__item {
    font-size: 1.3rem;
    color: $nav-gray;
    cursor: pointer;
    display: flex;

    align-items: center;

    // styling of arrow icon
    img {
      transition: 0.3s ease;
      margin-left: 0.5rem;
    }

    &:hover img {
      transform: rotate(180deg);
    }
  }

  &__cta {
    font-size: $fs-normal;
    display: flex;
    text-align: center;
  }

  &__cta-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $btn-text-white;
    background-color: $button-green;
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    transition: 0.5s ease;
    @include animBtnGreen;
  }

  &__link:visited,
  &__link:link {
    text-decoration: none;
    color: $nav-gray;
    transition: 0.2s ease;
    position: relative;
  }

  // hover animation
  &__link::after {
    content: "";
    display: block;
    width: 0%;
    position: absolute;
    right: 50%;
    bottom: -4px;
    transition: 0.3s $ease-back;
    background-color: $nav-gray;
    height: 2px;
  }

  &__item:hover &__link::after {
    width: 100%;
    right: 0;
  }

  // styling of drop downs of nav items
  &__dropDown {
    position: absolute;
    background-color: $nav-background;
    width: 100%;
    height: 0rem;
  }

  // drop down animation
  &__item:hover &__dropDown {
    height: 20rem;
  }
}
