.overlay {
  background-color: transparent;
  z-index: 15;
  position: fixed;
  width: 100%;
  height: 2000%;
  top: 0;
  left: 0;
  display: none;
}

.overlay.active {
  display: block;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 25;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: $nav-background;
  border-bottom: 1px solid #a4ca94;
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  -moz-backdrop-filter: blur(28px);
  position: relative;
  width: 100%;
  z-index: 25;

  &__line {
    background-color: $footer-text-gray;
    height: 1px;
    width: 100%;
    position: relative;
    left: 0rem;
    margin-top: 1rem;
  }

  &__icon--mobile {
    display: none;
  }

  &__checkbox {
    display: none;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // width: 100%;

    & > *:not(:last-child) {
      margin-right: 2rem;

      @media screen and (max-width: 850px) {
        margin-right: 1.5rem;
      }
    }
  }

  &__item {
    font-size: 1.3rem;
    color: $nav-gray;
    cursor: pointer;
    display: flex;

    align-items: center;

    // styling of arrow icon
    img {
      transition: 0.3s ease;
      margin-left: 0.5rem;

      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    img.active {
      transform: rotate(180deg);
    }
  }

  &__cta {
    font-size: $fs-normal;
    display: flex;
    text-align: center;
  }

  &__cta-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $btn-text-white;
    background-color: $button-green;
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    transition: 0.5s ease;
    @include animBtnGreen;
  }

  &__link {
    text-decoration: none;
    color: $nav-gray;
    transition: 0.2s ease;
    position: relative;
    font-size: $fs-normal;
  }

  // hover animation
  &__link::after {
    content: "";
    display: block;
    width: 0%;
    position: absolute;
    right: 50%;
    bottom: -4px;
    transition: 0.3s $ease-back;
    background-color: $nav-gray;
    height: 2px;
  }

  &__item:hover &__link::after {
    width: 100%;
    right: 0;
  }

  // styling of drop downs of nav items
  &__dropDown {
    position: fixed;
    background-color: white;
    color: white;
    width: 100%;
    height: 0rem;
    min-height: 0rem;
    z-index: 18;
    top: 5.9rem;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s $ease-back;
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 650px) {
      padding-top: 2.5rem;
    }

    @media screen and (max-width: 500px) {
      // padding-bottom: 2rem;
    }

    &__heading {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      margin-top: -1rem;
      position: relative;
      margin-bottom: 1rem;
    }

    &__title {
      color: $primary-dark-gray;
      font-weight: 600;
      padding-left: 2rem;
    }

    &__para {
      color: $footer-text-gray;
      padding-left: 2rem;
    }
  }

  &__dropDown.active {
    opacity: 1;
    pointer-events: all;
    min-height: 23rem;
  }
}

// styling for small boxes in nav
.nav-helper {
  display: flex;
  max-width: 20rem;

  &__container {
    display: grid;
    place-items: center;
    justify-items: start;
    align-content: start;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1.5rem;
    width: 80%;
  }

  img {
    margin-right: 1rem;
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    color: $primary-dark-gray;
    font-weight: 600;
  }

  &__para {
    color: $footer-text-gray;
  }
}
