@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  position: relative;
}

html {
  font-size: calc(65.2% + 0.390625vw);
  scroll-behavior: smooth;
}

.appInstall {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -20rem;
  padding: 26rem 7rem 20rem 7rem;
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  min-height: 100vh;
  position: relative;
}
@media (max-width: 1000px) {
  .appInstall {
    margin-top: -23rem;
  }
}
@media (max-width: 1200px) and (min-width: 800px) {
  .appInstall {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }
}
@media (max-width: 500px) {
  .appInstall {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.appInstall > *:not(:last-child) {
  margin-right: 6rem;
}
.appInstall__typography {
  max-width: 33rem;
}
.appInstall__typography > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.appInstall__title {
  font-weight: 600;
  font-family: "Raleway";
  font-size: 2rem;
}
.appInstall__para {
  font-size: 1.2rem;
}
.appInstall__btnContainer {
  display: flex;
}
.appInstall__btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s ease;
  font-size: 1.1rem;
}
.appInstall__btn:not(:last-child) {
  margin-right: 2rem;
}
.appInstall__btn > *:not(:last-child) {
  margin-right: 1rem;
}
.appInstall__btn--1 {
  background-color: #1d221b;
  color: #fcfdfc;
}
.appInstall__btn--2 {
  background-color: #1d221b;
  color: #fcfdfc;
}
.appInstall__btn span {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.appInstall__p-top {
  font-weight: 400;
  font-family: "Raleway";
}
.appInstall__p-bottom {
  font-weight: 600;
}
.appInstall__imgContainer {
  max-width: 25rem;
}
.appInstall__imgContainer img {
  width: 100%;
}

.download2 {
  position: relative;
  background-color: #fcfdfc;
  margin-top: -20rem;
  padding: 26rem 7rem 20rem 7rem;
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  min-height: 100vh;
  margin-top: 0rem !important;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  margin-top: 0;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Firefox arrow fix*/
}
@media (max-width: 1000px) {
  .download2 {
    margin-top: -23rem;
  }
}
@media (max-width: 1200px) and (min-width: 800px) {
  .download2 {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }
}
@media (max-width: 500px) {
  .download2 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.download2 > *:not(:last-child) {
  margin-right: 4rem;
}
.download2__title {
  color: #1d221b;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 2.8rem;
}
.download2__title span {
  color: #609c47;
}
.download2__para {
  color: #4a4e49;
  font-size: 1.2rem;
  text-align: center;
}
.download2__imgContainer {
  max-width: 28rem;
}
.download2__imgContainer img {
  width: 100%;
}
.download2__typography {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.download2__typography > *:not(:last-child) {
  margin-bottom: 1.2rem;
}
.download2__input-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2rem;
  width: 90% !important;
}
.download2__input {
  width: 100%;
  background: #fcfdfc;
  height: 2.5rem;
  padding: 0 2rem;
  border: 2px solid #e8e9e8;
  border-radius: 0.5rem;
  font-family: "Poppins";
  /* Chrome, Safari, Edge, Opera arrow fix*/
}
.download2__input::-webkit-outer-spin-button, .download2__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.download2__input:focus {
  outline: none;
}
.download2__input[type=number] {
  -moz-appearance: textfield;
}
.download2__label {
  position: absolute;
  top: -1.8rem;
  color: #1d221b;
  font-weight: 600;
  font-style: 0.9rem;
  left: 0.5rem;
}
.download2__cta {
  font-size: 1.2rem;
  display: flex;
  text-align: center;
}
.download2__cta-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fcfdfc;
  background-color: #85b870;
  padding: 0.6rem 2.5rem;
  border-radius: 0.5rem;
  transition: 0.5s cubic-bezier(0.41, 1.8, 0.55, 1);
}
.download2__cta-link:hover {
  background-color: #609c47;
  letter-spacing: 1px;
}

.questions {
  position: relative;
  background: #e1eddb;
  margin-top: -20rem;
  padding: 26rem 7rem 20rem 7rem;
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  min-height: 100vh;
  padding-top: 28rem;
}
.questions__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfdfc;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.questions__box h3 {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 1.5rem;
}
.questions__box p {
  font-weight: 400;
  font-size: 1.2rem;
  color: #4a4e49;
}
.questions__cta {
  font-size: 1.2rem;
  display: flex;
  text-align: center;
}
.questions__cta-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fcfdfc;
  background-color: #85b870;
  padding: 0.6rem 2.5rem;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}
.questions__cta-link:hover {
  background-color: #609c47;
  letter-spacing: 1px;
}

.three-boxes {
  position: relative;
  background-color: #e1eddb;
  margin-top: -20rem;
  padding: 26rem 7rem 20rem 7rem;
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  min-height: 100vh;
  display: flex;
  margin-top: -15rem;
  padding-left: 4rem;
  padding-right: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 1000px) {
  .three-boxes {
    margin-top: -23rem;
  }
}
@media (max-width: 1200px) and (min-width: 800px) {
  .three-boxes {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }
}
@media (max-width: 500px) {
  .three-boxes {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.three-boxes__row {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.three-boxes__row > :nth-child(2) {
  width: 31%;
}
.three-boxes__row > *:not(:last-child) {
  margin-right: 2rem;
}
.three-boxes__row--2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.three-boxes__row--2 > * {
  width: 50%;
}
.three-boxes__row--2 > *:not(:last-child) {
  margin-right: 2rem;
}
.three-boxes__title {
  color: #1d221b;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.box-helper {
  background-color: #fcfdfc;
  max-width: 25rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1.3rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-helper--2 {
  background-color: #e1eddb;
}
.box-helper > *:not(:last-child) {
  margin-bottom: 0.6rem;
}
.box-helper__title {
  color: #609c47;
  font-weight: 600;
  font-family: "Raleway";
  font-size: 1.3rem;
}
.box-helper__para {
  color: #4a4e49;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 200;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: rgba(252, 253, 252, 0.7);
  border-bottom: 1px solid #a4ca94;
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  -moz-backdrop-filter: blur(28px);
  width: 100%;
}
.nav__icon--mobile {
  display: none;
}
.nav__checkbox {
  display: none;
}
.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__list > *:not(:last-child) {
  margin-right: 2rem;
}
.nav__item {
  font-size: 1.3rem;
  color: #4a4e49;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.nav__item img {
  transition: 0.3s ease;
  margin-left: 0.5rem;
}
.nav__item:hover img {
  transform: rotate(180deg);
}
.nav__cta {
  font-size: 1.2rem;
  display: flex;
  text-align: center;
}
.nav__cta-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fcfdfc;
  background-color: #85b870;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}
.nav__cta-link:hover {
  background-color: #609c47;
  letter-spacing: 1px;
}
.nav__link:visited, .nav__link:link {
  text-decoration: none;
  color: #4a4e49;
  transition: 0.2s ease;
  position: relative;
}
.nav__link::after {
  content: "";
  display: block;
  width: 0%;
  position: absolute;
  right: 50%;
  bottom: -4px;
  transition: 0.3s cubic-bezier(0.41, 1.8, 0.55, 1);
  background-color: #4a4e49;
  height: 2px;
}
.nav__item:hover .nav__link::after {
  width: 100%;
  right: 0;
}
.nav__dropDown {
  position: absolute;
  background-color: rgba(252, 253, 252, 0.7);
  width: 100%;
  height: 0rem;
}
.nav__item:hover .nav__dropDown {
  height: 20rem;
}

.footer {
  background-color: #1d221b;
  padding: 28rem 4rem 10rem 4rem;
  margin-top: -20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left img {
  margin-bottom: 1.3rem;
}
.footer__left p {
  color: #fcfdfc;
}
.footer__left small {
  color: #a5a7a4;
}
.footer__right {
  display: flex;
}
.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer__list:not(:last-child) {
  margin-right: 6rem;
}
.footer__list > *:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__item {
  font-family: "Raleway";
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.footer__item > *:not(:last-child) {
  margin-right: 0.5rem;
}
.footer__item a {
  color: #a5a7a4;
}
.footer__item--big {
  font-size: 1.4rem;
  margin-bottom: 1.4rem !important;
}
.footer__item--big a {
  color: #fcfdfc;
}
.footer__item img {
  transition: 0.3s ease;
  margin-left: 0.5rem;
}
.footer__item:hover img {
  transform: rotate(180deg);
}
.footer__link:visited, .footer__link:link {
  text-decoration: none;
  transition: 0.2s ease;
  position: relative;
}
.footer__link::after {
  content: "";
  display: block;
  width: 0%;
  position: absolute;
  right: 50%;
  bottom: -4px;
  transition: 0.3s cubic-bezier(0.41, 1.8, 0.55, 1);
  background-color: #a5a7a4;
  height: 2px;
}
.footer__item--big .footer__link::after {
  background-color: #fcfdfc;
}
.footer__item:hover .footer__link::after {
  width: 100%;
  right: 0;
}

.home-hero {
  position: relative;
  padding: 5rem 7rem 0rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fcfdfc;
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  padding-bottom: 15rem;
  z-index: 7;
}
@media (max-width: 1000px) {
  .home-hero {
    margin-top: -23rem;
  }
}
@media (max-width: 1200px) and (min-width: 800px) {
  .home-hero {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }
}
@media (max-width: 500px) {
  .home-hero {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 1000px) {
  .home-hero {
    margin-top: 0rem;
  }
}
.home-hero > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.home-hero__title {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  font-family: "Raleway";
}
.home-hero__para {
  text-align: center;
  font-size: 1.2rem;
}
.home-hero__btnContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.home-hero__btn {
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  transition: 0.5s ease;
}
.home-hero__btn:not(:last-child) {
  margin-right: 2rem;
}
.home-hero__btn--1 {
  background-color: #85b870;
  color: #fcfdfc;
}
.home-hero__btn--1:hover {
  background-color: #609c47;
  letter-spacing: 1px;
}
.home-hero__btn--2 {
  background-color: #e1eddb;
  color: #1d221b;
  font-weight: 600;
  font-size: 1.2rem;
}
.home-hero__btn--2:hover {
  background-color: #1d221b;
  color: #fcfdfc;
  letter-spacing: 1px;
}
.home-hero__img {
  margin-top: 3rem;
  max-width: 25rem;
}
.home-hero__img img {
  width: 100%;
}

.homeBody {
  position: relative;
  z-index: 6;
}

.section {
  position: relative;
  min-height: 100vh;
  padding: 26rem 7rem 18rem 7rem;
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  margin-top: -20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .section {
    margin-top: -23rem;
  }
}
@media (max-width: 1200px) and (min-width: 800px) {
  .section {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }
}
@media (max-width: 500px) {
  .section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.section__normal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__normal > *:not(:last-child) {
  margin-right: 6rem;
}
.section__normal .section__btn--2 {
  display: none;
}
.section__reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.section__reverse > *:not(:first-child) {
  margin-right: 6rem;
}
.section__imgContainer {
  max-width: 25rem;
}
.section__imgContainer img {
  width: 100%;
}
.section__typography {
  max-width: 35rem;
}
.section__typography > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.section__title {
  text-transform: uppercase;
  color: #609c47;
  font-weight: 600;
  font-size: 1.2rem;
}
.section__subtitle {
  font-weight: 600;
  font-size: 2rem;
  color: #1d221b;
  font-family: "Raleway";
}
.section__para {
  line-height: 24px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #4a4e49;
}
.section__item-para {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  color: #4a4e49;
}
.section__item-para:not(:last-child) {
  margin-bottom: 2rem;
}
.section__item-para img {
  margin-right: 1rem;
}
.section__btnContainer {
  display: flex;
}
.section__btn {
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  transition: 0.5s ease;
}
.section__btn:not(:last-child) {
  margin-right: 2rem;
}
.section__btn--1 {
  background-color: #85b870;
  color: #fcfdfc;
}
.section__btn--1:hover {
  background-color: #609c47;
  letter-spacing: 1px;
}
.section__btn--2 {
  background-color: #e1eddb;
  color: #1d221b;
  font-weight: 600;
}
.section__btn--2:hover {
  background-color: #1d221b;
  color: #fcfdfc;
  letter-spacing: 1px;
}

.services-body {
  background-color: #e1eddb;
  clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  padding-top: 10rem;
  padding-bottom: 25rem;
  position: relative;
  width: 100%;
}

.servicesMain {
  position: relative;
  padding: 5rem 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .servicesMain {
    margin-top: -23rem;
  }
}
@media (max-width: 1200px) and (min-width: 800px) {
  .servicesMain {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }
}
@media (max-width: 500px) {
  .servicesMain {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 1000px) {
  .servicesMain {
    margin-top: 0;
  }
}
.servicesMain__normal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicesMain__normal > *:not(:last-child) {
  margin-right: 6rem;
}
.servicesMain__reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.servicesMain__reverse > *:not(:first-child) {
  margin-right: 6rem;
}
.servicesMain__imgContainer {
  max-width: 25rem;
}
.servicesMain__imgContainer img {
  width: 100%;
}
.servicesMain__typography {
  max-width: 35rem;
}
.servicesMain__typography > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.servicesMain__subtitle {
  font-weight: 600;
  font-size: 2rem;
  color: #1d221b;
  font-family: "Raleway";
}
.servicesMain__para {
  line-height: 24px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #4a4e49;
}
.servicesMain__cta {
  font-size: 1.2rem;
  display: flex;
  text-align: center;
}
.servicesMain__cta-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fcfdfc;
  background-color: #85b870;
  padding: 0.6rem 2.5rem;
  border-radius: 0.5rem;
  transition: 0.5s cubic-bezier(0.41, 1.8, 0.55, 1);
}
.servicesMain__cta-link:hover {
  background-color: #609c47;
  letter-spacing: 1px;
}
.servicesMain__cta-link {
  width: 40%;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: calc(52.2% + 0.390625vw);
    scroll-behavior: smooth;
  }
  .nav {
    font-size: calc(45.2% + 0.390625vw);
  }
}
@media screen and (max-width: 900px) {
  .three-boxes__row {
    flex-direction: column;
  }
  .three-boxes__row > *:not(:last-child) {
    margin-bottom: 2rem;
    margin-right: 0rem;
  }
  .three-boxes__row > * {
    width: 100%;
  }
  .three-boxes__row > :nth-child(2) {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .section__normal > *:not(:last-child) {
    margin-right: 0rem;
  }
  .section__reverse > *:not(:first-child) {
    margin-right: 0rem;
  }
  .section__typography {
    display: flex;
    flex-direction: column;
  }
  .section__title {
    text-align: center;
  }
  .section__subtitle {
    text-align: center;
  }
  .section__para {
    text-align: center;
  }
  .section__item-paraContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .section__btnContainer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section__btn {
    width: 80%;
  }
  .section__btn:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
  .appInstall {
    flex-direction: column-reverse;
  }
  .appInstall > *:not(:last-child) {
    margin-right: 0rem;
  }
  .appInstall__imgContainer {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  .appInstall__title {
    text-align: center;
  }
  .appInstall__para {
    text-align: center;
  }
  .servicesMain {
    flex-direction: column;
  }
  .servicesMain__normal > *:not(:last-child) {
    margin-right: 0rem;
  }
  .servicesMain__reverse > *:not(:first-child) {
    margin-right: 0rem;
  }
  .servicesMain__typography {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .servicesMain__cta {
    align-self: center;
  }
  .servicesMain__cta-link {
    width: 100%;
  }
}
@media screen and (max-width: 769px) {
  .navigation {
    padding: 1rem 3rem;
    background-color: rgba(252, 253, 252, 0.7);
    border-bottom: 1px solid #a4ca94;
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);
    -moz-backdrop-filter: blur(28px);
    height: 7.5rem;
  }
  .nav {
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    pointer-events: none;
    transition: all 0.8s ease;
    padding-left: 10rem;
    background-color: #fff;
  }
  .nav__icon--mobile {
    display: inline-block;
    position: relative;
    z-index: 30;
  }
  .nav__icon {
    display: none;
  }
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__list > *:not(:last-child) {
    margin-bottom: 3.7rem;
    margin-right: 0rem;
  }
  .nav__item {
    overflow: hidden;
  }
  .nav__link, .nav__item img {
    font-size: 2rem;
    transform: translateY(3rem);
    transition: all 0.5s ease !important;
  }
  .nav__cta {
    margin-top: 4rem;
    transform: translateX(-30rem);
    transition: 0.7s cubic-bezier(0.41, 1.8, 0.55, 1);
    opacity: 0;
  }
  .nav__cta-link {
    font-size: 2rem;
    width: 20rem;
  }
  .nav__button {
    position: absolute;
    top: 3.8rem;
    right: 3rem;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .nav__checkbox:checked ~ .nav {
    opacity: 1;
    pointer-events: all;
    width: 100%;
  }
  .nav__checkbox:checked ~ .nav .nav__link, .nav__checkbox:checked ~ .nav .nav__item img {
    transform: translateY(0rem);
    transition-delay: 0.5s !important;
  }
  .nav__checkbox:checked ~ .nav .nav__cta {
    transform: translateX(0rem);
    transition-delay: 0.8s !important;
    opacity: 1;
  }
  .nav__burger {
    position: relative;
  }
  .nav__burger, .nav__burger::after, .nav__burger::before {
    width: 3rem;
    height: 2px;
    background-color: #4a4e49;
    display: inline-block;
    transition: 0.2s ease-out;
  }
  .nav__burger::after, .nav__burger::before {
    content: "";
    position: absolute;
  }
  .nav__burger::before {
    top: -0.8rem;
  }
  .nav__burger::after {
    top: 0.8rem;
  }
  .nav__button:hover .nav__burger::before {
    top: -1rem;
  }
  .nav__button:hover .nav__burger::after {
    top: 1rem;
  }
  .nav__checkbox:checked ~ .nav__button .nav__burger {
    background-color: transparent;
  }
  .nav__checkbox:checked ~ .nav__button .nav__burger::before {
    transform: rotate(135deg);
    top: 0;
  }
  .nav__checkbox:checked ~ .nav__button .nav__burger::after {
    transform: rotate(-135deg);
    top: 0;
  }
}
@media screen and (max-width: 700px) {
  .appInstall__btnContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .appInstall__btnContainer > *:not(:last-child) {
    margin-bottom: 2rem;
    margin-right: 0rem;
  }
  .appInstall__btn {
    width: 80%;
  }
  .download2 {
    flex-direction: column;
    text-align: center;
  }
  .download2 > *:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
  .download2__typography {
    justify-content: center;
    align-items: center;
  }
  .download2__input-group {
    align-self: flex-start;
  }
  .download2__cta {
    align-self: flex-start;
  }
  .footer {
    flex-direction: column;
  }
  .footer > *:not(:last-child) {
    margin-bottom: 4rem;
  }
  .footer__left {
    text-align: center;
  }
  .footer__right {
    flex-direction: column;
  }
  .footer__list {
    align-items: center;
  }
  .footer__list:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 3rem;
  }
  .footer__list > *:not(:last-child) {
    margin-bottom: 2rem;
  }
  .footer__link {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 550px) {
  .three-boxes__row--2 {
    flex-direction: column;
  }
  .three-boxes__row--2 > * {
    width: 100%;
  }
  .three-boxes__row--2 > *:not(:last-child) {
    margin-bottom: 2rem;
    margin-right: 0rem;
  }
  .box-helper {
    padding: 1.5rem;
  }
  .box-helper > *:not(:last-child) {
    margin-bottom: 0.8rem;
  }
  .box-helper__title {
    font-weight: 600;
    font-size: 1.4rem !important;
  }
  .box-helper__para {
    font-size: 1.2rem !important;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: calc(65.2% + 0.390625vw);
  }
}/*# sourceMappingURL=main.css.map */